body{
    margin:0;
    padding:0;
    background-color: black;
}


/* Nedan Gäller Header*/
#header {
    height: 100px;
    width: 100%;
    background-color: #353333;
}

#menu {
    justify-content: space-between;
}

.Title{
    color: white;
    font-size: 20px;
    font-family: 'Dosis', sans-serif;
}

.logout{
    float: right;
}
/*Ovan Gäller Header*/



/*         SIDA 1           */
#main{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height:682px;
    background-image: url("bild/blurback.jpg");
    background-size: cover;
}

.formWrap{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 420px;
    width: 450px;
    box-shadow: 5px 5px 66px 5px rgb(65, 65, 65);
}

.loginForm{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    width: 80%;
    height: 80%;
}

.brandName{
    font-size: 40px;
    margin-bottom: 50px;
    font-weight: bold;
    padding:20px 40px 20px 40px;
    border:1px solid #2F243A;
    color:#2F243A;
}

.mailForm, .passwordForm{
    width: 55%;
    margin:10px;
    height: 22px;
    text-align: center;

}

.buttonForm{
    margin-top: 20px;
    width: 40%;
    height: 40px;
    background-color: #2F243A;
    border:none;
    color: white;
    font-weight: bold;
    cursor: pointer;
}


/*         SIDA 2         */




#partyListContainer{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}
.partyClass{
    width: 400px;
    background-color: rgb(179, 179, 179);
    background-repeat: no-repeat;
    height: 380px;
    margin: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    
    
    
}
.partyClass:hover {
    -webkit-filter: brightness(150%); /* Safari */
    filter:  brightness(150%);
    transition: 1s;
    }

.titleClass{
    width: 60%;
    margin: 0px; 
    background-color: rgba(255, 255, 255, 0.3);
    padding-left: 5px;
}
.dateClass{
    width: 60%;
    margin: 0px; 
    background-color: rgba(255, 255, 255, 0.3);
    padding-left: 5px;
}
.timeClass{
    width: 60%;
    margin: 0px; 
    background-color: rgba(255, 255, 255, 0.3);
    padding-left: 5px;
}
.imageClass{
    
    margin: 0px; 
}
.descriptionClass{
    margin-top: 200px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 0px;
}

.priceClass{
    
    margin: 0px;
    font-size: 25px;
    padding-left: 5px;
    padding-right: 5px;
}

/**************** SIDA 3 ******************/




#wrapperNk, #wrapperHf, #wrapperDf {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

textarea {

    width:200px;
    height:70px;

}

.knappBox {

    width:300px;
    margin:auto;


}


.guestList {

    width:200px;
    background-color: rgb(179, 179, 179);
    background-repeat: no-repeat;
    height: 380px;
    margin: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

.boxAttend  {
    width: 600px;
    background-color: rgb(179, 179, 179);
    background-repeat: no-repeat;
    height: 380px;
    margin: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

.boxInfo {

    width: 600px;
    background-color: rgb(179, 179, 179);
    background-repeat: no-repeat;
    height: 380px;
    margin: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
 
}


.boxInfo h1 {
 
text-align:center;

}
.boxAttend  h1 { 

    text-align:center;
}

.knappJa {
    background: #34d994;
    background-image: -webkit-linear-gradient(top, #34d994, #63b82b);
    background-image: -moz-linear-gradient(top, #34d994, #63b82b);
    background-image: -ms-linear-gradient(top, #34d994, #63b82b);
    background-image: -o-linear-gradient(top, #34d994, #63b82b);
    background-image: linear-gradient(to bottom, #34d994, #63b82b);
    -webkit-border-radius: 34;
    -moz-border-radius: 34;
    border-radius: 34px;
    font-family: Arial;
    color: #ffffff;
    font-size: 25px;
    padding: 13px 25px 15px 25px;
    text-decoration: none;
    border:none;
    margin-bottom:20px;
  }
  
  .knappJa:hover {
        background: #05ff65;
        background-image: -webkit-linear-gradient(top, #05ff65, #030f17);
        background-image: -moz-linear-gradient(top, #05ff65, #030f17);
        background-image: -ms-linear-gradient(top, #05ff65, #030f17);
        background-image: -o-linear-gradient(top, #05ff65, #030f17);
        background-image: linear-gradient(to bottom, #05ff65, #030f17);
        text-decoration: none;
   
  }

  .knappNej {
    
        background: #d9343c;
        background-image: -webkit-linear-gradient(top, #d9343c, #b82c85);
        background-image: -moz-linear-gradient(top, #d9343c, #b82c85);
        background-image: -ms-linear-gradient(top, #d9343c, #b82c85);
        background-image: -o-linear-gradient(top, #d9343c, #b82c85);
        background-image: linear-gradient(to bottom, #d9343c, #b82c85);
        -webkit-border-radius: 34;
        -moz-border-radius: 34;
        border-radius: 34px;
        font-family: Arial;
        color: #ffffff;
        font-size: 25px;
        padding: 13px 25px 15px 25px;
        text-decoration: none;
        border:none;
      }
      
      .knappNej:hover {
        background: #ff0303;
        background-image: -webkit-linear-gradient(top, #ff0303, #030f17);
        background-image: -moz-linear-gradient(top, #ff0303, #030f17);
        background-image: -ms-linear-gradient(top, #ff0303, #030f17);
        background-image: -o-linear-gradient(top, #ff0303, #030f17);
        background-image: linear-gradient(to bottom, #ff0303, #030f17);
        text-decoration: none;
      }
  