body{
    margin:0;
    padding:0;
}

/*         SIDA 1           */
#main{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height:682px;
}

.formWrap{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 450px;
    width: 450px;
    box-shadow: 5px 5px 66px 5px rgb(65, 65, 65);
}

.loginForm{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    width: 80%;
    height: 80%;
}

.brandName{
    font-size: 40px;
    margin-bottom: 60px;
    font-weight: bold;
}

.mailForm, .passwordForm{
    width: 55%;
    margin:10px;
    height: 22px;

}

.buttonForm{
    margin-top: 20px;
    width: 40%;
    height: 40px;
    background-color: #3F3636;
    border:none;
    color: white;
    font-weight: bold;
    cursor: pointer;
}


/*         SIDA 2         */


#header{
    height: 80px; 
    background-color: black;
}
#partyListContainer{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}
.partyClass{
    width: 400px;
    background-color: blue;
    height: 600px;
    margin: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
}
.titleClass{
    width: 100%;
    margin: 0px; 
}
.dateClass{
    
    margin: 0px; 
}
.timeClass{
    
    margin: 0px; 
}
.imageClass{
    
    margin: 0px; 
}