body{
    margin:0;
    padding:0;
}

/*         SIDA 1           */
#main{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height:682px;
    background-image: url("bild/blurback.jpg");
    background-size: cover;
}

.formWrap{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 420px;
    width: 450px;
    box-shadow: 5px 5px 66px 5px rgb(65, 65, 65);
}

.loginForm{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    width: 80%;
    height: 80%;
}

.brandName{
    font-size: 40px;
    margin-bottom: 50px;
    font-weight: bold;
    padding:20px 40px 20px 40px;
    border:1px solid #2F243A;
    color:#2F243A;
}

.mailForm, .passwordForm{
    width: 55%;
    margin:10px;
    height: 22px;
    text-align: center;

}

.buttonForm{
    margin-top: 20px;
    width: 40%;
    height: 40px;
    background-color: #2F243A;
    border:none;
    color: white;
    font-weight: bold;
    cursor: pointer;
}


/*         SIDA 2         */


#header{
    height: 80px; 
    background-color: black;
}
#partyListContainer{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}
.partyClass{
    width: 400px;
    background-color: blue;
    height: 500px;
    margin: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    padding: 10px;
}
.titleClass{
    width: 100%;
    margin: 0px; 
}
.dateClass{
    
    margin: 0px; 
    width: 100%;
}
.timeClass{
    width: 100%;
    margin: 0px; 
}
.imageClass{
    
    margin: 0px; 
}
.descriptionClass{
    margin-top: 0px;
}



/**************** SIDA 3 ******************/


#wrapper body {
    margin: 0px;
    font: 1.2em/1.3em 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Roboto-Light', 'Roboto Light', 'Roboto', 'Segoe UI Web Light', 'Segoe UI Light', 'Segoe UI Web Regular', 'Segoe UI', Helvetica, Arial, sans-serif;
  color: #fff;
}
#wrapper h1 {
    font-weight: normal;
    text-align: center;
}


.regBox {
    margin:auto;
    width:400px;
}

.knappJa {
    background: #34d994;
    background-image: -webkit-linear-gradient(top, #34d994, #63b82b);
    background-image: -moz-linear-gradient(top, #34d994, #63b82b);
    background-image: -ms-linear-gradient(top, #34d994, #63b82b);
    background-image: -o-linear-gradient(top, #34d994, #63b82b);
    background-image: linear-gradient(to bottom, #34d994, #63b82b);
    -webkit-border-radius: 34;
    -moz-border-radius: 34;
    border-radius: 34px;
    font-family: Arial;
    color: #ffffff;
    font-size: 25px;
    padding: 13px 25px 15px 25px;
    text-decoration: none;
    border:none;
    margin-bottom:20px;
  }
  
  .knappJa:hover {
        background: #05ff65;
        background-image: -webkit-linear-gradient(top, #05ff65, #030f17);
        background-image: -moz-linear-gradient(top, #05ff65, #030f17);
        background-image: -ms-linear-gradient(top, #05ff65, #030f17);
        background-image: -o-linear-gradient(top, #05ff65, #030f17);
        background-image: linear-gradient(to bottom, #05ff65, #030f17);
        text-decoration: none;
   
  }

  .knappNej {
    
        background: #d9343c;
        background-image: -webkit-linear-gradient(top, #d9343c, #b82c85);
        background-image: -moz-linear-gradient(top, #d9343c, #b82c85);
        background-image: -ms-linear-gradient(top, #d9343c, #b82c85);
        background-image: -o-linear-gradient(top, #d9343c, #b82c85);
        background-image: linear-gradient(to bottom, #d9343c, #b82c85);
        -webkit-border-radius: 34;
        -moz-border-radius: 34;
        border-radius: 34px;
        font-family: Arial;
        color: #ffffff;
        font-size: 25px;
        padding: 13px 25px 15px 25px;
        text-decoration: none;
        border:none;
      }
      
      .knappNej:hover {
        background: #ff0303;
        background-image: -webkit-linear-gradient(top, #ff0303, #030f17);
        background-image: -moz-linear-gradient(top, #ff0303, #030f17);
        background-image: -ms-linear-gradient(top, #ff0303, #030f17);
        background-image: -o-linear-gradient(top, #ff0303, #030f17);
        background-image: linear-gradient(to bottom, #ff0303, #030f17);
        text-decoration: none;
      }
  
  
textarea {
    
    width:300px;
    height:100px;
}
#wrapper {
   margin: 0;
   padding: 0;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-flow: row;
   flex-flow: row;
}


#wrapper > article,
#wrapper > aside {
   margin: 4px;
   padding: 1em;
}
 
#wrapper > article {
   background: #996;
   -webkit-flex: 4 1 0;
           flex: 4 1 0;
   -webkit-order: 2;
           order: 2;
}


#wrapper > aside {
   background: #663;
   -webkit-flex: 1 6 0;
           flex: 1 6 0;
}

  
#wrapper > aside {
   -webkit-order: 3;
           order: 3;
}
 

 
/* Too narrow to support three columns */
  @media all and (max-width: 640px) {
  
   #wrapper, #page {
    -webkit-flex-flow: column;
            flex-flow: column;
}

   #wrapper > article, #wrapper >  #wrapper > aside {
    /* Return them to document order */
    -webkit-order: 0;
            order: 0;
   }
  
   #wrapper > #wrapper > aside, header, footer {
    min-height: 50px;
  
   }
}
